---
const { color, title, subtitle } = Astro.props
---

<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color={color}>
  <div class="z-30 relative flex flex-col h-full">
    <header>
      <h2 class=`text-${color} pt-40 text-[40px] font-medium`>{title}</h2>
      <p class=`text-${color} text-sm`>{subtitle}</p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <slot name="footer"/>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 w-full z-10">
    <slot name="background"/>
  </div>
</section>